body {
    padding: 6.25rem 10.25rem 6.25rem 10.25rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form-control.is-invalid {
    color: #dc3545;
    background-image: none;
}

.cs-tooltip {
    margin: 0.5rem 57.2rem 0 0;
    padding: 0.1rem 0.3rem 0.2rem 0.3rem;
    width: fit-content;
    font-size: 1rem;
    color: #A94442;
    background-color: #F2DEDE;
    border-radius: 5px;
}
